body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.box {
    width: 300px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}
