body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.card {
    background: white;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
}
